.button,a{
  vertical-align:middle;
  cursor:pointer;
  border-radius: 8px;
  border: none;
  display: block;
  background-color: #66b3ff;
  padding: 3px 10px;
  text-decoration: none;
  text-align: center;
  color:black;
  border: 2px solid  #0059b3;
  width: 150px;
}

  
a:hover, .button:hover {
  background-color:  #0059b3;
  color: white;
}


#link
{
position: absolute;
right: 25px;	
top: 5px;	
}

#homelink
{
font-size:15px;	
 width: 50px;	
}

html,body{	
    background-color:#ccebff;	
    font-family:"Verdana";
    cursor:default;  
}
